a:not(.button) {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  color: var(--clr-accent-850);

  .lightmode & {
    color: var(--clr-accent-450);
  }

  &:hover {
    text-decoration: underline;
  }
}