.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: calc(var(--default-size, 8px) * 1)
    calc(var(--default-size, 8px) * 3);
  width: fit-content;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  font-size: var(--fs-normal);

  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1.6;
  text-align: left;
  hyphens: auto;

  border: solid var(--border-width, 2px);
  border-radius: var(--border-radius, 0px);
  border-color: transparent;
  background-color: transparent;
  color: var(--clr-light-700);

  transition: background-color calc(var(--transition-time, 0ms) / 2),
    color calc(var(--transition-time, 0ms) / 2),
    border-color calc(var(--transition-time, 0ms) / 2);

  & .arrow {
    --rotation: 45deg;
    --transition: 1.8rem;
    background-color: transparent;
    overflow: hidden;
    font-weight: bold;

    & > span {
      transform: rotate(var(--rotation));
      display: block;
      text-align: center;
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    border-color: transparent;
    background-color: transparent;
    color: var(--clr-light-900);

    transition: background-color var(--transition-time, 0ms),
      color var(--transition-time, 0ms),
      border-color var(--transition-time, 0ms);

    & .arrow {
      & > span {
        animation: arrow-out 0.15s ease-in 0ms 1 forwards,
          arrow-in 0.3s cubic-bezier(0.33, 0.33, 1, 0.66) 0.15s 1 forwards;
      }
    }
  }

  &.button--primary {
    border-color: var(--clr-accent-800);
    background-color: var(--clr-accent-800);
    color: var(--clr-dark-100);

    &:hover,
    &:focus,
    &:focus-within {
      border-color: var(--clr-accent-750);
      background-color: var(--clr-accent-750);
      color: var(--clr-dark-000);
    }
  }

  &.button--secondary {
    border-color: transparent;
    background-color: transparent;
    color: var(--clr-light-800);

    &:hover,
    &:focus,
    &:focus-within {
      border-color: var(--clr-dark-100);
      background-color: var(--clr-dark-100);
      color: var(--clr-light-900);
    }
  }

  &.button--dark {
    @extend .button--secondary;

    border-color: var(--clr-dark-050);
    background-color: var(--clr-dark-050);
  }

  &.button--wide {
    width: 100%;
    // max-width: 22rem;
  }

  &.button--wide {
    justify-content: center;
    text-align: center;
  }

  .lightmode & {
    &.button--secondary {
      color: var(--clr-dark-100);

      &:hover,
      &:focus,
      &:focus-within {
        border-color: var(--clr-light-850);
        background-color: var(--clr-light-850);
        color: var(--clr-dark-000);
      }
    }
  }
}

@keyframes arrow-out {
  0% {
    transform: rotate(var(--rotation)) translateY(0);
  }
  to {
    transform: rotate(var(--rotation))
      translateY(calc(var(--transition) * -1));
  }
}

@keyframes arrow-in {
  0% {
    transform: rotate(var(--rotation)) translateY(var(--transition));
  }
  to {
    transform: rotate(var(--rotation)) translateY(0);
  }
}