$colors: (
  warning: hsl(37, 89%, 67%),
  danger: hsl(4, 89%, 67%),
  success: hsl(107, 89%, 67%),
  info: hsl(196, 89%, 67%),
);

$steps: (
  18: '000',
  17: '050',
  16: '100',
  15: '150',
  14: '200',
  13: '250',
  12: '300',
  11: '350',
  10: '400',
  9: '450',
  8: '500',
  7: '550',
  6: '600',
  5: '650',
  4: '700',
  3: '750',
  2: '800',
  1: '850',
  0: '900'
);
$types:
  ('accent' 265 100 94),
  ('light' 0 0 96),
  ('dark' 240 10 94);