$type-scale: (
  small: (
    // Minor third
    normal: 1rem,
    500: 1.2rem,
    400: 1.44rem,
    300: 1.728rem,
    200: 2.074rem,
    100: 2.488rem,
  ),
  big: (
    // Major third
    normal: 1rem,
    500: 1.125rem,
    400: 1.563rem,
    300: 1.953rem,
    200: 2.441rem,
    100: 3.052rem,
  ),
);





